version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: vdr_db
    volumes:
      - pgdbdata:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - app_network

  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vdr_web
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    networks:
      - app_network

  flask:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: vdr_flask
    command: python3 web_camera.py
    volumes:
      - .:/code
    ports:
      - "5000:5000"
    devices:
      - "/dev/video0:/dev/video0"
    privileged: true
    networks:
      - app_network

networks:
  app_network:

volumes:
  pgdbdata:
